@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

body {
    background-color: #CCFBF1;
    font-family: 'Poppins';
}

.blog-wrapper {
    padding: 1rem;
}

.blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
}

.blog-title {
    font-family: 'Poppins-Bold';
}

.blog-description {
    font-family: 'Poppins';
    text-align: justify;
}

.center {
    text-align: center;
}

.blog-detail-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 2rem;
}

.blog-detail-description {
    text-align: justify;
    line-height: 2rem;
}

.blog-edit .blog-image {
    height: 100%;
}
