@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

body {
    background-color: #CCFBF1;
    font-family: 'Poppins';
}

.navbar-background {
    background-color: #0f5132;
}

.button-custom-success {
    background-color: #198754;
    color: white;
}

.button-custom-success:hover {
    background-color: #157347;
    color: white;
}

.button-custom-light {
    background-color: white;
    color: black;
}

.button-custom-light:hover {
    background-color: white;
    color: black;
}

.button-custom-warning {
    background-color: #ffc107;
    color: black;
}

.button-custom-warning:hover {
    background-color: #ffca2c;
    color: black;
}

.button-custom-danger {
    background-color: #dc3545;
    color: white;
}

.button-custom-danger:hover {
    background-color: #bb2d3b;
    color: white;
}

.blog-wrapper {
    padding: 1rem;
}

.blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
}

.blog-title {
    font-family: 'Poppins-Bold';
}

.blog-description {
    font-family: 'Poppins';
    text-align: justify;
}

.center {
    text-align: center;
}

.blog-detail-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 2rem;
}

.blog-detail-description {
    text-align: justify;
    line-height: 2rem;
}

.blog-edit .blog-image {
    height: 100%;
}

.blog-add .blog-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 1rem;
}
